@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../pacote-d013/imagens/fundo-madeira.jpg')no-repeat top center;
    background-size: cover; /*Imagem irá ocupar a tela inteira, mesmo se precisar cortar e remendr a imagem*/
    background-attachment: fixed; /*Imagem fixa, mesmo com barra de rolagem, efeito fixed*/
}

main {
    position: relative; 
    height: 100vh;
}

section#telefone {
    position: absolute /*Retirado do contexto normal do documento, agora ele fica facíl para manipular, ele precisa de um pai (relative), assim ele sai de estatico para algo manipulavel fora do fluxo do documento*/;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Faz a caixa ficar no meio, sem ele a ponta esquerda do topo fica no cento, mas não é isso que a gente quer*/

    height: 627px;
    width: 311px;
    background: url('../pacote-d013/imagens/frame-iphone.png')no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.637);

    transform: translate(-3px, -3px); /*Portanto, a propriedade transform: translate(-3px, -3px); faz com que o elemento seja movido 3 pixels para a esquerda e 3 pixels para cima em relação à sua posição original. */

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.400);
    
    transition: transform .3s, border 1s; 
}